**/data/
**/.idea/
*.pycache
**/yolov5/
**/EfficientDet_Pytorch/
**/detectron2_windows/
**/Data/
**/Results/
**/notebooks/
**/Logs/
**/Trained_Models/
**__pycache__/
**/wandb/
**/coco_eval/
**/SandBox/
**/MSR_DRN_keras/for_submission/*
**/MSR_DRN_keras/experimentations/*
0.8.1'
1.7.0'
**/wandb/
**/Results/
**/__pycache__/